{% extends '::base.html.twig' %}

{% block body %}
<div>
    {% block ajaxsearch_form %}
        <form data-ajaxsearch-form method="GET" action="{{ path('leoht_ajaxsearch_result', { 'search' : null }) }}" >
            <input type="text" name="search" placeholder="Search..." />
        </form>

        <div data-ajaxsearch-results >

        </div>
    {% endblock %}
</div>
{% endblock %}