<div>
    <form data-ajaxsearch-form method="GET"
        action="{{ path('leoht_ajaxsearch_result', { 'search' : null }) }}"
    >

        <input type="text" name="search" 
            placeholder="{% block placeholder %}{% if placeholder is defined %}{{ placeholder }}{% else %}Search...{% endif %}{% endblock placeholder %}"
        />

        <input type="hidden" name="_engine"
            value="{% block engine %}{% if engine is defined %}{{ engine }}{% else %}main{% endif %}{% endblock engine %}"
        />

    </form>

    <div class="{% block resultblock_classes %}{%endblock resultblock_classes %}"
        data-ajaxsearch-results
        data-noresult-msg="{% block noresult_message %}{% if noresult_message is defined %}{{ noresult_message }}{% else %}No result{% endif %}{% endblock noresult_message %}"
    >

    </div>
</div>